<div *ngIf="this.otpSend === false" class="container">
  <p>
    Once you enter Email the click send OTP, you will get OTP to your mail...
  </p>
  <input type="email" name="useremail" id="useremail" #useremail /><br /><br />
  <p *ngIf="this.reStatus === false">{{ this.respon }}</p>
  <input
    (click)="verifyEmail({ email: useremail.value })"
    type="submit" class="btn btn-primary me-2"
    value="Send OTP"
  />
  <input type="submit" (click)="cancel()" class="btn btn-danger me-2" value="Cancel" />
</div>
<div *ngIf="this.otpSend === true" class="container">
  <p>Enter the OTP</p>
  <input type="number" name="otp" id="otp" #otp/>
  <input [disabled]="otp.value.length !== 6"
    (click)="this.forgotUsername({ type: 'username', otp: otp.value })"
    type="submit" class="btn btn-success ms-2"
    value="verify"
  />
  <div *ngIf="this.username !== ''" class="data">
    <p>{{ this.username }}</p>
    <input
      type="password"
      name="password"
      id="password"
      minlength="6"
      maxlength="10"
      #password
    />
    <input
      type="submit"
      [disabled]="password.value.length < 6"
      (click)="
        forgotPassword({
          type: 'password',
          password: password.value,
          username: this.username
        })
      "
      class="btn btn-success me-2 mt-3"
      value="Change password"
    />
    <input type="submit" (click)="cancel()" class="btn btn-danger ms-2 mt-3" value="cancel" />
    <p>
      Note: If you want you can update the password or else click cancel to
      login
    </p>
  </div>
</div>
