
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.site-header {
  width: 100%;
  height: 100vh;
  background: #0f8a9d;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

nav {
  width: 100%;
  height: 100px;
  /*background-color:  red;*/
  display: flex;
  color: white;
}

.logo {
  width: 50%;
  height: 100px;
}

.logo h1 {
  line-height: 100px;
  padding-left: 50px;
}

.menu {
  width: 50%;
  height: 100px;
}

.menu ul {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu ul li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

section {
  display: flex;
}

.leftside {
  width: 45%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
}

.leftside img {
  width: 600px;
  height: 500px;
}

.rightside {
  width: 55%;
  height: 300px;
  color: white;
  text-align: center;
  margin-top: 80px;
  padding: 40px;
}

.rightside h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.rightside p {
  font-size: 1.1rem;
  padding: 30px 0;
}

.leftside button {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  border-radius: 4px 4px 4px 4px;
  padding: 10px 35px;
  margin-top:10px;
  border-color: #045de9;
  border-width: 1px;
  border-radius: 30px;
  letter-spacing: 2px;
  border: none;
}

.leftside button:hover {
    color: white;
    background-color: #2f6ac7;
    letter-spacing: 3px;

}
.target{
margin-bottom: 8px;
color: #ffffff;
letter-spacing: 1px;
font-size: 50px;
  font-weight: 900;
}

div.board{
  height: 300px;
  width: 600px;
  text-align: center;
  border:10px solid white;
  font-size: larger;
  color:white;
  border-radius: 10px;
  padding-top:10px;
  margin:100px;
}

div.values{
    margin: 20px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: left;
    font-size: large;
}

div.search-board{
  text-align: center;
  margin-top: 200px;
}

table td:nth-child(2){
    padding-left: 80px;
}

.heading {
  font-weight: lighter;
  letter-spacing: 0.3rem;
}

.query{
    width:350px;
    height: 30px;
    border:3px solid lightblue;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.internal-nav{
    margin-top: 20px;
}

.internal-nav a{
    margin-right:20px;
    text-decoration: none;
    color:whitesmoke;
}

.internal-nav a:hover{
    font-weight: 800;
}

.simplified{
    margin: 5%;
    width: calc(100% - 25%);
    height: 200px;
}

.simplified h2{
    text-align: left;
    padding-top: 30px;
    margin-bottom: 10%;
    font-size: 50px;
  }
  
.piegraph{
    margin: 60% 30% 0% 30%;
    width: calc(100% - 50%);
  }
  
.piegraph h2{
      text-align: left;
      margin-bottom: 10%;
      padding-top: 30px;
      font-size: 50px;
  }

#save-description{
  border: #619eff solid 2px;
  border-radius: 5px;
  resize:none;
  padding: 5px;
}

.btn{
  background-color: white;
  border: none;
  padding:10px;
  margin:0 10px 10px 0;
  border-radius: 10px;
}

.btn:hover{
  background-color:#619eff;
  color:white;
  padding: 8px;
  letter-spacing: 2px;
}
